@import url('../../Colors.css');

.text-container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 8px;
}

.text-container > .input {
    border-bottom: 2px solid var(--divider-color);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    -webkit-appearance: none;
    font-size: 16px;
    margin-bottom: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: 0.5s all ease;
    outline: none;
    caret-color: var(--accent-color);
    color: var(--primary-text-color);
    resize: none;
}

.text-container > .label {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-text-color);    
}

.text-container > .input:hover, .input:active, .input:focus {
    border-color: var(--accent-color);
    border-style: solid;
    outline: none;
}